@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Teko:wght@300;600;700&display=swap');
body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.main_content{
    background: url(https://asiamountains.net/assets/cache_image/assets/lib/resized/370/1600x1063_0x0_d0b.jpg) center / cover no-repeat fixed;
    width: 100%;
    height: 100%;
}
.opac{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.950);
    padding-right: 100px;
}
.btn{
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.801) !important;
    color: rgb(255, 255, 255) !important;
    margin: 20px;
}
.inps input{
    width: 250px;
    border-radius: 1px;
    color: rgb(255, 255, 255) !important;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
    outline: none;
    margin: 7px 0px;
}
.inps textarea{
    width: 250px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); 
    border-top: none;
    border-left: none;
    color: #fff;
    border-right: none;
    outline: none;
    height: 80px;
}
#send{
    width: 200px;
    background-color: #fff;
    margin-left: 20px;
}
.maraf{
    color: rgb(247, 247, 247);
}
.maraf span a{
    text-decoration: none;
    text-decoration: underline rgb(46, 46, 46);
    color: rgb(245, 245, 245);
}
.container{
    border: solid 2px rgba(255, 255, 255, 0.774); 
    width: 50% !important;
    padding: 70px 1px;
    box-shadow: 10px 10px 120px rgb(252, 252, 252);
    background-color: rgba(248, 248, 248, 0);
}
#academy{
    color: #fff;
    font-weight: 100;
    margin-bottom: 50px;
}
.vid_1 img{
    width: 100%;
}
.vid_1{
    border: solid 3px rgb(15, 15, 15) ;
    border-bottom: none;
}
.vid_2{
    border: solid 3px rgb(15, 15, 15) ;
    border-bottom: none;
}
.vid_2 img{
    width: 100%;
}
.vid_3 img{
    width: 100%;
}
.vid_3{
    border: solid 3px rgb(15, 15, 15) ;
    border-bottom: none;
}
.vid_4{
    border: solid 3px rgb(15, 15, 15) ;
    border-bottom: none;
}
.vid_4 img{
    width: 100%;
}
.contact button a{
    text-decoration: none;
    color: #fff;
}
.home button a{
    text-decoration: none;
    color: #fff;
}


/* media */


@media screen and (max-width:1150px){
    .container{
        border: solid 2px rgba(255, 255, 255, 0.295); 
        width: 55% !important;
        padding: 50px 1px;
        background-color: rgba(248, 248, 248, 0);
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.950);
        padding-right: 10px;
    }
}
@media screen and (max-width:1010px){
    .container{
        border: solid 2px rgba(255, 255, 255, 0.295); 
        width: 61% !important;
        padding: 50px 1px;
        background-color: rgba(248, 248, 248, 0);
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.950);
        padding-right: 0px;
    }
}
@media screen and (max-width:820px){
    .container{
        border: solid 2px rgba(255, 255, 255, 0.295); 
        width: 69% !important;
        padding: 50px 1px;
        background-color: rgba(248, 248, 248, 0);
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.950);
        padding-right: 10px;
    }
}
@media screen and (max-width:679px){
    .container{
        border: solid 2px rgba(255, 255, 255, 0.295); 
        width: 76% !important;
        padding: 50px 1px;
        background-color: rgba(248, 248, 248, 0);
        box-shadow: 10px 10px 70px rgb(252, 252, 252);
    }
    #timur{
        color: rgb(212, 212, 212);
        font-family: 'Dancing Script', cursive;
        position: absolute;
        left: 87%;
        display: none;
        top: 115%; 
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.950);
        padding-right: 0px;
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.910);
        padding-right: 100px;
    }
}
@media screen and (max-width:580px){
    .container{
        border: solid 2px rgba(255, 255, 255, 0.295); 
        width: 86% !important;
        padding: 50px 1px;
        background-color: rgba(248, 248, 248, 0);
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.910);
        padding-right: 0px;
    }
}
@media screen and (max-width:520px){
    .container{
        border: solid 2px rgba(255, 255, 255, 0.295); 
        width: 94% !important;
        padding: 50px 0px;
        background-color: rgba(248, 248, 248, 0);
        box-shadow: 0px 0x 0px rgb(252, 252, 252);
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.910);
        padding-right: 10px;
    }
}
@media screen and (max-width:380px){
    .container{
        border: solid 2px rgba(255, 255, 255, 0.295); 
        width: 100% !important;
        padding: 50px 0px;
        background-color: rgba(248, 248, 248, 0);
        box-shadow: 0px 0x 0px rgb(252, 252, 252);
    }
    .opac{
        text-align: center;
        padding-top: 150px;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.910);
        padding-right: 5px;
        padding-left: 5px;
    }
    #academy{
        color: #fff;
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .btn{
        width: 200px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.801) !important;
        color: rgb(255, 255, 255) !important;
        margin: 20px 0px;
    }
}
@media screen and (max-width:287px){
    .btn{
        width: 190px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.801) !important;
        color: rgb(255, 255, 255) !important;
        margin: 20px 0px;
    }
}



